{% extends "EducationSystem/layout/dashboard_base.html" %} {% load static %} {% block dashboard_content %}

<style>
  .dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 40px; */
    align-items: start;
  }

  .circle-btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: white;
    box-shadow: 0 0 10px #ddd;
    cursor: pointer;
    transition: 0.2s;
  }
  .circle-btn:hover {
    transform: translateY(-5px);
  }

  .circle-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
    max-width: 500px;
  }

  .bar-chart-box {
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 0 10px #e2e2e2;
    max-width: 600px;
    margin-top: 40px;
  }

  .progress-path {
    width: 100%;
    height: 80px;
    background: url('{% static "EducationSystem/img/progress_path.png" %}')
      no-repeat center;
    background-size: contain;
  }

  /* -----------------  Progress Bar Style ----------------- */
  .progress-wrapper {
    position: relative;
    width: 100%;
    margin: 40px 0;
  }

  .progress-line {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-fill {
    height: 100%;
    background: #3adb76;
    transition: width 0.4s;
  }

  .start-pin {
    width: 35px;
    position: absolute;
    left: -5px;
    top: -14px;
  }

  .student-icon {
    width: 55px;
    position: absolute;
    left: calc({{percent}}% - 25px);
    top: -45px;
  }

  .student-score {
    position: absolute;
    left: calc({{percent}}% - 5px);
    top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #3498db;
  }

  .graduation-icon {
    width: 55px;
    position: absolute;
    right: -10px;
    top: -45px;
  }
</style>

<div class="dashboard-grid">
  <div class="circle-grid">
    <a href="{%url 'profile' %}" class="flex flex-col items-center text-gray-600 text-decoration-none">
      <div class="circle-btn" style="border: 5px solid #62a1ff">
        <img
          src="{% static '/EducationSystem/images/graduating-student 1.png' %}"
          width="55"
        />
      </div>
      <div class="mt-3 text-gray-600 text-center text-base font-bold">
        پروفایل دانشجو
      </div>
    </a>

    <div class="flex flex-col items-center">
      <div class="circle-btn" style="border: 5px solid #8f62ff">
        <div class="text-purple-500" style="font-size: 30px">72 / 144</div>
      </div>
      <div class="mt-3 text-gray-600 text-center text-base font-bold">
        واحدهای پاس‌شده
      </div>
    </div>

    <div class="flex flex-col items-center">
      <div class="circle-btn" style="border: 5px solid #ff6262">
        <img
          src="{% static 'EducationSystem/images/writing 2.png' %}"
          width="55"
        />
      </div>
      <div class="mt-3 text-gray-600 text-center text-base font-bold">
        برنامه هفتگی
      </div>
    </div>

    <div class="flex flex-col items-center">
      <div class="circle-btn" style="border: 5px solid #8cff62">
        <img
          src="{% static 'EducationSystem/images/writing 1.png' %}"
          width="55"
        />
      </div>
      <div class="mt-3 text-gray-600 text-center text-base font-bold">
        برگه انتخاب واحد
      </div>
    </div>

    <div class="flex flex-col items-center">
      <div class="circle-btn" style="border: 5px solid #628cff">
        <img
          src="{% static 'EducationSystem/images/writing 4.png' %}"
          width="50"
        />
      </div>
      <div class="mt-3 text-gray-600 text-center text-base font-bold">
        کارت ورود به جلسه
      </div>
    </div>

    <div class="flex flex-col items-center">
      <div class="circle-btn" style="border: 5px solid #ffb862">
        <img
          src="{% static 'EducationSystem/images/writing 3.png' %}"
          width="50"
        />
      </div>
      <div class="mt-3 text-gray-600 text-center text-base font-bold">
        اطلاعیه
      </div>
    </div>
  </div>

  <!-- ستون سمت چپ (محتوا: مسیر + معدل + نمودار) -->
  <div>
    <!-- Progress Bar -->
    <div class="progress-wrapper">
      <div class="progress-line">
        <div class="progress-fill" style="width: {{ percent }}%;"></div>
      </div>

      <!-- نقطه شروع -->
      <img
        src="{% static 'EducationSystem/images/placeholder 1.png' %}"
        class="start-pin"
      />

      <!-- آیکون دانشجو -->
      <img
        src="{% static 'EducationSystem/images/graduating-student 2.png' %}"
        class="student-icon"
      />

      <!-- مقدار پاس شده -->
      <span class="student-score">{{ passed }}</span>

      <!-- آیکون فارغ التحصیلی -->
      <img
        src="{% static 'EducationSystem/images/graduation 1.png' %}"
        class="graduation-icon"
      />
    </div>

    <div class="flex justify-center my-6">
      <div
        style="
          background: white;
          box-shadow: 0 0 10px #ddd;
          padding: 25px;
          border-radius: 15px;
          width: 220px;
          text-align: center;
        "
      >
        <div style="font-weight: bold; font-size: 22px">Score</div>
        <div style="font-size: 34px; color: #20bf6b; font-weight: bold">
          19.94
        </div>
        <div style="margin-top: 10px; font-size: 15px">معدل دانشجو</div>
      </div>
    </div>

    <div class="bar-chart-box">
      <canvas id="barChart"></canvas>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById("barChart");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["هم ورودی‌ها", "هم رشته‌ها", "دانشکده", "دانشگاه"],
      datasets: [
        {
          data: [10, 22, 42, 62],
          backgroundColor: ["#ff5252", "#ffca28", "#42a5f5", "#66bb6a"],
          borderRadius: 10,
        },
      ],
    },
    options: {
      plugins: { legend: { display: false } },
      scales: { y: { beginAtZero: true } },
    },
  });
</script>
{% endblock %}
