{% extends "EducationSystem/layout/dashboard_base.html" %}

{% block dashboard_content %}
<div class="profile-page p-6">
  <!-- <div class="profile-card bg-white shadow-md p-6 rounded">
    <div class="profile-header flex items-center mb-6">
      <div class="profile-pic bg-gray-400 rounded-full w-24 h-24"></div>
      <div class="ml-6">
        <h2 class="text-xl font-semibold">پانیذ بهارجاه</h2>
        <p>دانشجوی مهندسی کامپیوتر</p>
      </div>
    </div>
    <div class="profile-info">
      <p><strong>شماره دانشجویی:</strong> 4011111111</p>
      <p><strong>نام پدر:</strong> علی</p>
      <p><strong>کد ملی:</strong> 0012345678</p>
      <p><strong>رشته:</strong> مهندسی کامپیوتر</p>
      <p><strong>مقطع:</strong> کارشناسی پیوسته</p>
    </div>
  </div> -->
</div>
{% endblock %}
